* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(211, 235, 211);
}

.container {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.header {
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}

.terms-col {
    width: 70px;
}

.terms-filter {
    width: 65px;
}

.description-col {
    width: 250px;
}

.description-filter {
    width: 245px;
}

.executor-col {
    width: 200px;
}

.executor-filter {
    width: 195px;
}

.initiator-col {
    width: 200px;
}

.initiator-filter {
    width: 195px;
}

.status-col {
    width: 120px;
}

.status-filter {
    width: 120px;
}

.main {
    display: block;
    margin: 0 auto;
    padding: 30px 0;
}

.filter {
    display: block;
    margin: 10px 0;
}

.col-filter {
    height: 25px;
}

.task-list {
    width: 100%;
    border-collapse: collapse;
}

.table-label {
    margin-bottom: 20px;
}

.table-column {
    border: 1px solid black;
    padding: 5px;
}

.edit-button {
    padding: 2px;
    margin: 2px;
}

.button {
    padding: 2px;
    margin: 2px;
}

.link {
    text-decoration: none;
    font-size: 20px;
    padding: 2px;
}

.active {
    display: inline-block;
    border: 1px solid green;
    color: black;
    background-color: white;
}

.view-button {
    display: inline-block;
    background-color: wheat;
    margin-left: 5px;
    padding: 2px;
    border: 1px solid black;
    color: black;
    font-size: 13px;
}

.edit-button {
    display: inline-block;
    background-color: wheat;
    margin-left: 5px;
    padding: 2px;
    border: 1px solid black;
    color: black;
    font-size: 13px;
}

.delete-button {
    display: inline-block;
    background-color: wheat;
    margin-left: 5px;
    padding: 2px;
    border: 1px solid black;
    color: black;
    font-size: 13px;
}

.cancel-button {
    display: inline-block;
    background-color: wheat;
    margin-left: 5px;
    padding: 2px;
    border: 1px solid black;
    color: black;
    font-size: 13px;
}

.save-button {
    display: inline-block;
    background-color: wheat;
    margin-left: 5px;
    padding: 2px;
    border: 1px solid black;
    color: black;
    font-size: 13px;
}

.label {
    font-size: 14px;
}

.task-description {
    width: 320px;
}

.task-item {
    display: flex;
    margin: 10px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}